/** 定义全局滚动条bar的颜色 **/
.mCSB_dragger_bar {
  background: #ffba00 !important;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 12px;
}
html,
body {
  font-family: "微软雅黑";
}
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
